
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eee;
}

.sombra {
  filter: drop-shadow(0 0 10px rgb(141, 141, 141));
}

button {
  /* margin: 5px; */
  background-color: wheat;
  padding: 3px;
  width: 100px;
  text-align: center;
  font-weight: 10rem;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

h3 {
  color: #eee;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: underline;
  letter-spacing: 3px;
}

.input-container {
  width: 100%;  
  display: inline-block;
  text-align: center;
  /* border: 2px solid #4F4F4F; */
  padding: 10px 5px;
}

.buttons-container {
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 5px 5px;
  /* border: 2px solid #4F4F4F; */
  border-top-color: #eee;
}

.input-container input {
  margin-top: 8px;
  margin-right: 20px;
}

.input-pontos1 , .input-pontos2 {
  width: 60%;
}

label {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  vertical-align: middle;
}

.dados-container {
  background: green;
  background-image: url('buraco-card-lg-pt.jpeg');
  background-size: cover;
  background-position: bottom;
  opacity: 0.6;
  padding: 40px 25px 20px 25px;
  text-align: center;
  margin-bottom: 15px;
}

.dados-container ul li {
  color:white;
  font-size: 20px;
  letter-spacing: 3px;
  list-style-type: none;
  text-transform: uppercase;
}

li {
  color: #666;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 45%;
  height: 50px;
  border-left: 1px solid gray;
}


.players div .box {
  width: auto;
  text-align: center;
  /* border: 1px solid gray; */
}

.box {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8px;
  background-color: yellowgreen;
  font-size: 1.2em;
  font-weight: 300;
}

.rounds-container-color1 {
  background-color: wheat;
  height: 50px;
}

.rodada {
  margin-top: 20px;
}

hr {
  margin: 3px 0;
}

.parabens {
  text-align: center;
}
.parabens h1 {
  text-align: center;
  font-size: 3.2rem;
  color: darkgreen;
}

#vencedor {
  transform-style: preserve-3d;
}
