* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  padding: 0 10px;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

header {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
}

ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

header a {
  color: #000;
  font-weight: 700;
}

header nav {
  display: flex;
}

.hero {
  background-image: url('images/hero.jpg');
  min-height: 100vh;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.hero h1 {
  font-size: 3.2rem;
  margin-bottom: 15px;
}
.hero h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero .btn {
  background-color: white;
  padding: 20px 50px;
  border-radius: 7px;
  color: #191c03;
  text-transform: uppercase;
}

.know-the-hotel {
  display: flex;
  padding: 100px 50px;
  flex-direction: column;
  align-items: center;
}

.know-the-hotel .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.know-the-hotel .grid li {
  height: 350px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  list-style: none;
  border-radius: 25px;
}

.know-the-hotel .small {
  flex-basis: 40%;
}

.know-the-hotel .large {
  flex-basis: 60%;
}

.know-the-hotel h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #191c03;
  text-align: center;
}

.know-the-hotel p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  color: #191c03;
}

.know-the-hotel hr {
  width: 200px;
  height: 2px;
  background-color: #191c03;
  margin-bottom: 70px;

}

.features {
  display: flex;
  background-color: #191c03;
  padding: 100px 50px;
  color: white;
  flex-direction: column;
  align-items: center;
}

.features h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  text-align: center;
}

.features p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
 
}

.features hr {
  width: 200px;
  height: 2px;
  background-color: white;
  margin-bottom: 70px;
  
}

.features .grid {
  display: flex;
  width: 100%;
}

.features .grid h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #c3c63b;
}

.features .grid li {
  padding: 0 30px;
  text-align: center;
}

.features .grid li i {
  color: #c3c63b;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.newsletter {
  display: flex;
  padding: 100px 50px;
  flex-direction: column;
  align-items: center;
}

.newsletter h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  text-align: center;
  color: #c3c63b;
}

.newsletter p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  color: #c3c63b; 
}

.newsletter hr {
  width: 200px;
  height: 2px;
  background-color: #c3c63b;
  margin-bottom: 70px;
}

.newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
}

.newsletter input {
  padding: 15px;
  border: 1px solid #c3c63b;
  border-radius: 4px;
  margin-right: 15px;
}

.newsletter button {
  background-color: #c3c63b;
  color: white;
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
  border: none;
}

footer {
  display: flex;
  background-color: #191c03;
  padding: 100px 50px;
  color: white;
  align-items: center;
}

footer ul {
  display: flex;
  margin: auto;
}

footer li a {
  color: #c3c63b;
  font-size: 2rem;
}

footer ul li {
  display: flex;
}
footer ul li:nth-child(4) {
  order: 1;
}
footer ul li:nth-child(3) {
  order: 3;
}
footer ul li:nth-child(2) {
  order: 2;
}
footer ul li:nth-child(1) {
  order: 4;
}